﻿@{
    Layout = "_MasterLayout";
}

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2016 - EdisonGame</p>
    </footer>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
