﻿@using EdisonGame.Hubs
@using EdisonGame.Services

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="js-main-container">
        <h2>Games page</h2>
        <p>
            <button type="button" class="btn btn-info btn-lg" id="newGameButton" data-toggle="modal" data-target="#createGame">New game</button>
        </p>
        <p class="penalty-message js-penalty-message" hidden data-penalty-time="@GamesHub.GetPenalty(User.Identity.Name)">
            You have penalty in <span class="js-penalty-time"></span>
        </p>
        <div class="row">
            <div class="col-sm-4">
                <h3>Online users:</h3>
                <ul class="js-users list-unstyled">
                </ul>
            </div>
            <div class="col-sm-8">
                <h3>Created games:</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>User name</th>
                            <th>Timeout</th>
                            <th>State</th>
                            <th>Join</th>
                        </tr>
                    </thead>
                    <tbody class="js-games-container"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="js-lobby" hidden data-user-name="@User.Identity.Name" data-game-id="">
        <h2 class="js-game-name"></h2>
        <p>
            <button type="button" class="btn btn-info btn-lg" id="backButton">Back</button>
            <button type="button" class="btn btn-info btn-lg js-start-game-button" style="display:none">Start game</button>
            <span class="h3 js-game-result" hidden></span>
        </p>
        <div>
            <div class="row text-center">
                <span class="col-sm-4 h2 text-right js-game-user-score"></span>
                <span class="col-sm-4 h3 js-game-timeout"></span>
                <span class="col-sm-4 h2 text-left js-game-opponent-score"></span>
            </div>
            <div class="row">
                <div class="col-sm-6 text-center">
                    <h3 class="js-user-name"></h3>
                    <div class="game-cards js-game-cards" hidden>
                        <p>
                            <img src="~/images/rock.png" alt="Rock" data-card-id="@((int) Actions.Rock)" />
                            <img src="~/images/scissors.png" alt="Scissors" data-card-id="@((int) Actions.Scissors)" />
                        </p>
                        <p>
                            <img src="~/images/paper.png" alt="Paper" data-card-id="@((int) Actions.Paper)" />
                            <img src="~/images/lizard.png" alt="Lizard" data-card-id="@((int) Actions.Lizard)" />
                        </p>
                        <p>
                            <img src="~/images/spock.png" alt="Spock" data-card-id="@((int) Actions.Spock)" />
                        </p>
                    </div>
                    <div class="js-game-selected-card" hidden>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <h3 class="js-opponent-name"></h3>
                    <span class="js-game-help-button-container" hidden>
                        <button type="button" class="btn btn-info btn-lg js-game-help-button">Show choice of opponent (50%)</button>
                    </span>
                    <span class="js-opponent-action"></span>
                </div>
            </div>
            <table class="table text-center borderless">
                <colgroup>
                    <col class="col-sm-4">
                    <col class="col-sm-4">
                    <col class="col-sm-4">
                </colgroup>
                <tbody class="js-game-history"></tbody>
            </table>
        </div>
    </div>
    
    <!-- Modal -->
    <div id="createGame" class="modal fade js-new-game-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New game</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="gameName">Game name</label>
                        <input class="js-new-game-name form-control" id="gameName" placeholder="Game name">
                    </div>
                    <div class="form-group">
                        <label for="playerTimeout">Timeout</label>
                        <input type="number" class="js-new-game-timeout form-control" id="playerTimeout" placeholder="Timeout">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default js-new-game-button">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade js-leave-game-alert-modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Leaving game</h4>
                </div>
                <div class="modal-body">
                    <span>Are you shure you watn to leave game?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default js-leave-game-modal-button">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade js-join-game-alert-modal" role="dialog" data-game-id="">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Join game</h4>
                </div>
                <div class="modal-body">
                    Do you want to play the game <span class="js-game-name"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default js-join-game-modal-button">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
</div>
